* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --ligther-blue: #281f43;
  --dark-blue: #0b0911;
  --bg-for-card: #110e1a;
  --green: #35ee55;
  --red: #f14347;
  --border-red: #602528a6;
  --text-color: #f8f8ff;
  --darker-text: #f8f8ffa6;
  --orange: #f39d43;
  --yellow: #f3c643;
}

html,
input,
select,
button.form-button,
option {
  font-family: "Inter", sans-serif;
  background-color: var(--dark-blue);
  color: var(--text-color);

  line-height: 120%;
  letter-spacing: -0.02em;
}

/* app */
#app {
  padding: 40px 0px;
  max-width: 320px;
  margin: auto;
  position: relative;
}

/* form */

input,
select {
  all: unset;
}

input,
select,
button.form-button {
  width: 100%;
}

.fields {
  display: grid;
  gap: 8px;
}

.fields label:hover {
  cursor: pointer;
}

.field-wrapper {
  padding: 18px;
  border: 1px solid var(--ligther-blue);
  border-radius: 8px;

  display: flex;
  align-items: center;
  gap: 10px;
}

.field-wrapper:focus-within {
  outline: 1px solid var(--green);
}

.field-wrapper:focus-within path {
  stroke: var(--green);
}

.field-wrapper:hover select {
  cursor: pointer;
}

.field-wrapper#importance {
  padding: 13px;
}

.field-wrapper#importance label[for="high"],
.field-wrapper#importance label[for="medium"],
.field-wrapper#importance label[for="low"] {
  padding: 5px;
  border: 1px solid var(--red);
  border-radius: 5px;
}

.field-wrapper#importance label[for="medium"] {
  border-color: var(--orange);
}

.field-wrapper#importance label[for="low"] {
  border-color: var(--yellow);
}

button.form-button {
  margin-top: 12px;
  border: none;
  padding: 12px 20px;
  background-color: var(--green);
  border-radius: 8px;

  font-weight: 500;
  font-size: 16px;
  color: var(--dark-blue);
  cursor: pointer;
}

/* main */
main {
  margin-top: 32px;
}

h1 {
  text-align: center;
  font-weight: 600;
  font-size: 24px;

  margin-bottom: 24px;
}

section {
  display: grid;
  gap: 10px;
}

section input[type="checkbox"] {
  position: absolute;
  inset: 0;
  cursor: pointer;
}

section .card-bg {
  background-color: var(--bg-for-card);

  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1), 0px 4px 4px rgba(0, 0, 0, 0.1),
    0px 2px 2px rgba(0, 0, 0, 0.1), 0px 0px 0px 1px rgba(0, 0, 0, 0.1),
    inset 0px 0px 0px 1px rgba(255, 255, 255, 0.03),
    inset 0px 1px 0px rgba(255, 255, 255, 0.03);

  border-radius: 12px;
  position: relative;
  padding: 10px 16px;
  min-width: 280px;
}

label {
  display: flex;
}

section .card-bg:has(:checked) svg.active,
section .card-bg svg.inactive {
  display: block;
}

section .card-bg:has(:checked) svg.inactive,
section .card-bg svg.active {
  display: none;
}

section .input-wrapper:hover path.active,
section .input-wrapper:hover path.inactive,
section input:hover {
  border: 1px solid #bef26428;
  border-radius: 12px;
  stroke: var(--green);
  stroke-width: 1.5px;
}

section .input-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  flex: 1;
}

.name {
  display: block;
}

.place {
  font-size: 14px;
  color: var(--darker-text);
}

time {
  font-size: 14px;
  color: var(--darker-text);
  text-align: right;
}

time.full {
  display: none;
}

.trash {
  display: none;
}

footer {
  text-align: center;
  margin-bottom: 40px;
}

a {
  text-decoration: none;
}

a.github {
  color: rgb(201, 0, 201);
}
a.github:hover {
  color: rgb(247, 48, 247);
}

a.linkedin {
  color: rgb(0, 171, 214);
}
a.linkedin:hover {
  color: rgb(31, 210, 255);
}

@media (width > 1020px) {
  #app {
    display: flex;
    max-width: 80vw;
    gap: 15%;
  }

  main {
    margin-top: 0;
    flex: 1;
  }

  h1 {
    text-align: left;
  }

  label {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  section .input-wrapper {
    flex: none;
  }

  span {
    margin-left: 8px;
    flex: 1;
  }

  time.full {
    text-align: center;
    display: block;
  }

  time.short {
    display: none;
  }

  .trash {
    all: unset;
    color: var(--darker-text);
    z-index: 1;
  }

  .trash:hover {
    cursor: pointer;
    color: var(--red);
  }

  section label:has(.trash:hover) input {
    border: 1px solid rgba(255, 0, 0, 0.397);
    border-radius: 12px;
  }

  footer {
    bottom: 0;
  }
}

@media (width > 1910px) {
  * {
    font-size: 20px;
  }

  h1 {
    font-size: 28px;
  }
}
